name: update-flake
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '45 3 * * 1' # runs weekly on Monday at 03:45

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v23
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: 207424
          private_key: ${{ secrets.STEWARD_PRIVATE_KEY }}
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v20
        with:
          token: ${{ steps.generate-token.outputs.token }}
