name: update-flake
on:
  workflow_dispatch: # allows manual triggering
  schedule:
    - cron: '45 3 15-21 * 1' # runs the third Monday of the month at 03:45

jobs:
  lockfile:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install Lix
        uses: samueldr/lix-gha-installer-action@v2025-10-27
      - uses: tibdex/github-app-token@v2
        id: generate-token
        with:
          app_id: 207424
          private_key: ${{ secrets.STEWARD_PRIVATE_KEY }}
      - name: Update flake.lock
        uses: DeterminateSystems/update-flake-lock@v28
        with:
          token: ${{ steps.generate-token.outputs.token }}
